extends layout

block content
  h1= title

  - let costumeid = toShow._id
  - let lastName = toShow.lastName
  - let address = toShow.address
  - let phoneNumber = toShow.phoneNumber
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{costumeid}
  - let actionid = "/resource/family/" + costumeid
  form(id='familyForm', action= actionid, method="PUT")
    div.form-group
        label.familyAttr(for='lastname') family last name
        input#lastname(type='text', name='lastname')
    div.form-group
        label.familyAttr(for='address') family address
        input#address(type='text', name='address')
    div.form-group
        label.familyAttr(for='phoneNumber') family phoneNumber
        input#phoneNumber(type='number', name='phoneNumber')
    input(type="submit")

  script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });